$white: #E9EAEE;
$blue-mid: #69737C;
$blue-dark: #374550;
$red: #E99999;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: $white;
  background-color: $blue-dark;
  font-size: 12pt;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}
