$white: #E9EAEE;
$blue-mid: #69737C;
$blue-dark: #374550;
$red: #E99999;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: $white;
  background-color: $blue-dark;
  font-size: 12pt;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 450px;
  margin: 0 auto;
  display: block;
  padding: 3rem;
  border: 1px solid $white;
}

.header {
  font-size: 24pt;
  font-weight: bold;
  padding: 0.5rem;
}

.cake-form {
  width: 100%;
}

.label {
  font-weight: bold;
}

.input {
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  background-color: $blue-mid;
  border: 1px solid $white;
}

.input--invalid {
  border: 1px solid $red;
}

.fieldset {
  padding: 1rem 0;
}

.checkbox-option, .radio-option {
  padding: 0.2rem 0;
  display: block;
}

.button {
  font-size: inherit;
  padding: 0.5rem;
  border: 3px solid $white;
  background-color: $blue-dark;
  color: $white;
}

.reset {
  color: $white;
  border: 0;
  background-color: transparent;
  font-size: inherit;
  font-weight: 300;
  text-decoration: underline;
}
